body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: gray;
    padding: 20px;
}

.buttons-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 100px;
    width: 100px;
    font-size: 20px;
}

.display-box {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    font-size: 50px;
    margin-bottom: 10px;
    min-height: 60px;
}

.equals {
    background-color: rgb(202, 202, 202);
}