body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
}

.buttons-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 100px;
    width: 100px;
    font-size: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover {
    background-color: rgb(236, 236, 236);
}
button:active {
    box-shadow: 3px 3px 3px rgb(83, 83, 83);
}

.display-box {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    font-size: 40px;
    margin-bottom: 10px;
    min-height: 50px;
    max-width: 420px;
    min-width: 420px;
}

.equals {
    background-color: orange;
}

.equals:hover {
    background-color: rgba(255, 166, 0, 0.842);
}